#cursor {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: all 0.07s ease-out;
}

#pointer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  transform: translateX(-50%) translateY(-50%);
  background-color: aliceblue;
  border-radius: 50%;
  transition: all 0.03s ease-out;
  pointer-events: none;
}

#pointer.cursor-hover {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
}

#cursor.cursor-hover {
  opacity: 0;
}
